
BODY {
  font-family: 'Open Sans', sans-serif;
}

H2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color:#FFF;
}
H3 {
  font-size: 40px;
  font-weight: 600;
}
P {
  font-size: 30px;
  font-weight: 300;
  color:#606161;
}
LI {
  font-size: 20px;
  font-weight: 300;
}
BLOCKQUOTE P{
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  color: #FFF;
}

BLOCKQUOTE SPAN {
  font-size: 30px;
  font-weight: 800;
  color: #FFF;;
}
.logo {
  font-size: 48px;
  font-weight: 800;
  margin: auto;
  text-align: left;
}

.btn {
  color: #033048;
  font-size: 25px;
  text-align: center;
  font-weight: 800;
  background-color: #f9e42e;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  margin:0 auto;
  padding-top: 16px;
}

header .btn {
  color: #033048;
  background-color: #f9e42e;
}

header a{
  color: #033048;
}

#sign_up a{
  color: white;
}
#sign_up .btn {
  color: #FFF;
  background-color: #033048;
  margin-top: 20px;
}

.container {
    width: 100%;
    margin: auto;
    height: 700px;
    background: url(../images/header_bg.jpg) no-repeat center top;
    background-color: black;
}
.benefits {
  padding: 50px 400px 50px 300px;
}

.testimonial {
  padding: 50px 400px 50px 400px;
}
.center {
  text-align: center;
}
a {
  text-decoration: none;
}

a:visited {
    color: inherit;
}

header .logo{
  color: #FFF;
  padding-top: 50px;
  padding-left: 200px;
}

header H2 {
  padding-top: 75px;
}

footer .logo {
  color: #f9e42e;
  padding-left: 45%;
}

footer p {
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  margin:0 auto;
}

footer ul {
  padding-left: 48%;
}
#benefits {
  background-color: #fff;
  width: 100%;
  height: 500px;
  clear: both;
  margin-top: -31px;
}
#testimonial {
  background: url(../images/testimonial_bg.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  clear: both;
  margin-top: -30px;
}
#sign_up {
  background: #f9e42e;
  width:100%;
  height: 120px;
  clear: both;
  padding-top: 1px;

}
#footer{
  background-color: #121212;
  width: 100%;
  height: 350px;
  clear: both;
}
