/**{
Border: solid 1px red;
}*/

body {
  background-color: white;
  color: black;
  width: 100%;
  margin: 0;
  font-family: 'Bree Serif', serif;
}
.nav {
  text-align: right;
  list-style-type: none;
  margin-top: 50px;
  margin-right: 50px;
}
.nav a {
  text-decoration: none;
  color: #bf6b9a;
  font-size: 20px;
  margin-left: 15px;
}

h1 {
  font-size: 50px;

}

h2 {
  font-size:40px;
}

p {
  font-size: 20px;
}

#homepage {
  background: url(../images/house_homepage_large.png)no-repeat center top;
  background-color: black;
  width:100%;
  height: 100vh;
  background-size: cover;
  padding-top: 10px;
}

#about {
background-color:#936a49;
padding-top: 10px;
width:100%;
height: 100vh;
color: black;
}

#about img{
  padding-top: 10px;
}
.container {
  background: white;
  width: 100%;
  float:left;
}

.welcome {
  color: white;
  text-align: center;
}


.kids{
  width: 33%;
  float:left;
  border-right: solid #936a49 .5px;
  text-align: center;
  background: white;
}

.brews{
  width: 33%;
  float:left;
  border-right: solid #936a49 .5px;
  text-align: center;
  background: white;
}

.art{
  width: 33%;
  float:left;
  text-align: center;
}

#stopby {
  clear: both;
  width: 100%;
  height: 425px;
  list-style-type: none;
  background: #936a49;
}

#stopby img{
  padding-top: 65px;
}

.google {
  width: 33%;
  float: left;

  /*border: solid 1px black;*/
}

.location {
  float: left;
  width: 33%;
  /*height: 400px;*/
  text-align: center;
  color: white;
}

.storefront {
  width: 33%;
  /*height: 400px;*/
  float: left;
  text-align: center;
}

.address li{
  list-style-type: none;
}

.hours li{
  list-style-type: none;
}


#kit {
 clear: both;
 text-align: center;
 height: 150px;
 /*padding-top: 20px;*/
 padding-bottom: 75px;
}

form {
  padding-top: 20px;
}

input {
  font-family: 'Bree Serif', serif;
}

#footer {
  background:#936a49;
  text-align: center;
  clear: both;
  height: 100px;
  padding-top: 25px;
  color: white;
}
/* Responsive styles */

/* Desktop */
@media screen and (min-width: 1024px) {
  .homepage-large{
    display: block;
  }
  .homepage-small{
    display: none;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .homepage-large {
    display: block;
  }
  .homepage-small {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 599px) {
  .homepage-large {
    display: none;
  }
  .homepage-small {
    display: block;
  }
}
